-- name: Get{{ .MessageName }} :one
SELECT {{ .AllColumns }}
FROM {{ .Schema }}.{{ .Table }}
WHERE id = $1 AND deleted_at IS NULL;

-- name: List{{ .MessageName }}s :many
SELECT {{ .AllColumns }}
FROM {{ .Schema }}.{{ .Table }}
WHERE deleted_at IS NULL;

-- name: Create{{ .MessageName }} :one
INSERT INTO {{ .Schema }}.{{ .Table }} (
  {{ .AllColumns }}
) VALUES (
  {{ .AllPlaceholders }}
)
RETURNING *;

-- name: Update{{ .MessageName }} :one
UPDATE {{ .Schema }}.{{ .Table }}
SET {{ .UpdateSetClause }}
WHERE id = $1
RETURNING *;

-- name: SoftDelete{{ .MessageName }} :exec
UPDATE {{ .Schema }}.{{ .Table }}
SET deleted_at = NOW()
WHERE id = $1;

-- name: Delete{{ .MessageName }} :exec
DELETE FROM {{ .Schema }}.{{ .Table }}
WHERE id = $1;
