CREATE SCHEMA IF NOT EXISTS {{ .Schema }};
{{ range .Tables }}
CREATE TABLE IF NOT EXISTS {{ $.Schema }}.{{ .Name }} (
{{- range $i, $col := .Columns }}
{{- if $i }},{{ end }}
  {{ $col }}
{{- end }}
);
{{ end -}}
