package {{ .Package }}

import (
	"context"

	"connectrpc.com/connect"
	"github.com/gofrs/uuid/v5"

	{{ .ProtoAlias }} "{{ .ProtoImport }}"
)

func (h *{{ .ModelLower }}Handler) Delete{{ .Model }}(
	ctx context.Context,
	req *connect.Request[{{ .ProtoAlias }}.Delete{{ .Model }}Request],
) (*connect.Response[{{ .ProtoAlias }}.Delete{{ .Model }}Response], error) {
	id, err := uuid.FromString(req.Msg.GetId())
	if err != nil {
		return nil, connect.NewError(connect.CodeInvalidArgument, err)
	}

	err = h.store.SoftDelete{{ .Model }}(ctx, id)
	if err != nil {
		return nil, connect.NewError(connect.CodeInternal, err)
	}

	return connect.NewResponse(&{{ .ProtoAlias }}.Delete{{ .Model }}Response{}), nil
}
