package {{ .Package }}

import (
	"context"
	"errors"
	"time"

	"connectrpc.com/connect"
	"github.com/gofrs/uuid/v5"
	"github.com/jackc/pgx/v5/pgconn"
	"github.com/jackc/pgx/v5/pgtype"

	{{ .ProtoAlias }} "{{ .ProtoImport }}"
)

func (h *{{ .ModelLower }}Handler) Create{{ .Model }}(
	ctx context.Context,
	req *connect.Request[{{ .ProtoAlias }}.Create{{ .Model }}Request],
) (*connect.Response[{{ .ProtoAlias }}.Create{{ .Model }}Response], error) {
	id, err := uuid.NewV4()
	if err != nil {
		return nil, connect.NewError(connect.CodeInternal, err)
	}

	now := pgtype.Timestamptz{Time: time.Now(), Valid: true}
	params := {{ .ModelLower }}FromCreate(req.Msg.GetItem(), id, now)

	row, err := h.store.Create{{ .Model }}(ctx, params)
	if err != nil {
		var pgErr *pgconn.PgError
		if errors.As(err, &pgErr) && pgErr.Code == "23505" {
			return nil, connect.NewError(connect.CodeAlreadyExists, err)
		}
		return nil, connect.NewError(connect.CodeInternal, err)
	}

	return connect.NewResponse(&{{ .ProtoAlias }}.Create{{ .Model }}Response{
		Item: {{ .ModelLower }}ToProto(row),
	}), nil
}
